<div class="mdl-cell tip-box mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <div class="tip-box-header"><span class="tip-box-icon material-icons">lightbulb_outline</span>TIP: </div>
  <div class="tip-box-title">{{ title | markdownify }}</div>
  <div class="tip-box-text">{{ text }}</div>
</div>