<div class="video-with-description">
  <div class="video__desc">{{ description }}</div>
  <video class="animation" loop autoplay muted playsinline>
    <source src="{% root %}{{ url }}" type="video/mp4">
  </video>
</div>